.about {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 75px;
}

.about img {
    height: 500px;
    width: auto;
}

@media screen and (max-width: 1500px) {
    .about {
        margin: 20px 20px;
    }

    .about img {
        height: 500px;
        width: auto;
    }
    
}

@media screen and (max-width: 1340px) {
    .about {
        margin: 20px 75px;
    }

    .about img {
        height: 500px;
        width: auto;
    }
    
}

@media screen and (max-width: 1000px) {

    .about img {
        height: 400px;
        width: auto;
    }
}